<div class="home-component">
  <div class="row align-baseline p-1 px-3 connect-row">
    <div class="col px-2">
      <mat-form-field class="full-width">
        <mat-label>Host</mat-label>
        <input matInput [(ngModel)]="host" />
      </mat-form-field>
    </div>
    <div class="col px-2">
      <mat-form-field class="full-width">
        <mat-label>Port</mat-label>
        <input matInput [(ngModel)]="port" />
      </mat-form-field>
    </div>
    <div class="col px-2">
      <mat-form-field class="full-width">
        <mat-label>User</mat-label>
        <input matInput [(ngModel)]="user" />
      </mat-form-field>
    </div>
    <div class="col px-2">
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="pass" />
      </mat-form-field>
    </div>
    <div class="col xs-auto px-2">
      <button mat-raised-button (click)="connect()">Connect</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col xs-6">
      <h1>Local Files</h1>
    </div>
    <div class="col xs-6">
      <h1>Remote Files</h1>

      <ul *ngFor="let file of remoteFiles">
        <li class="listing">
          <mat-icon aria-hidden="false" aria-label="Folder" *ngIf="file.type == 'd'">folder open</mat-icon>
          <mat-icon aria-hidden="false" aria-label="File" *ngIf="file.type != 'd'">description</mat-icon>
          <span class="file-name">{{file.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
