<div class="home-component">
  <div class="nav-panel">
    <div class="row align-baseline p-1 px-3">
      <div class="col px-2">
        <mat-form-field class="full-width">
          <mat-label>Host</mat-label>
          <input matInput [(ngModel)]="host" />
        </mat-form-field>
      </div>
      <div class="col px-2">
        <mat-form-field class="full-width">
          <mat-label>Port</mat-label>
          <input matInput [(ngModel)]="port" />
        </mat-form-field>
      </div>
      <div class="col px-2">
        <mat-form-field class="full-width">
          <mat-label>User</mat-label>
          <input matInput [(ngModel)]="user" />
        </mat-form-field>
      </div>
      <div class="col px-2">
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="pass" />
        </mat-form-field>
      </div>
      <div class="col px-2 xs-auto">
        <mat-form-field>
          <mat-select [(value)]="protocol">
            <mat-option value="ftp">FTP</mat-option>
            <mat-option value="ftps">FTPS</mat-option>
            <mat-option value="sftp">SFTP</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col xs-auto px-2">
        <button mat-raised-button (click)="connect()">Connect</button>
      </div>
    </div>
  </div>
  
  <div class="files-panel">
    <div class="files-inside">
      <div class="row">
        <div class="col xs-6">
          <h1 class="px-3">Local Files</h1>
          <div class="px-3 crumbs">
            <span class="crumb" *ngFor="let crumb of localCrumbs; let last = last;" (click)="open(crumb)">
              <mat-icon class="root-crumb" aria-hidden="false" aria-label="Root" *ngIf="!crumb.fileName">home</mat-icon>
              <span class="crumb-name" *ngIf="crumb.fileName">{{crumb.fileName}}</span>
              <mat-icon aria-hidden="false" aria-label="Chevron" *ngIf="!last">chevron_right</mat-icon>
            </span>
          </div>

          <ul class="listings" dndDropzone (dndDrop)="onFileDrop($event, false)">
            <li class="listing px-3 py-2" *ngFor="let file of localFiles" (dblclick)="open(file)" [dndDraggable]="file">
              <mat-icon aria-hidden="false" aria-label="Folder" *ngIf="file.isDirectory">folder_open</mat-icon>
              <mat-icon aria-hidden="false" aria-label="File" *ngIf="!file.isDirectory">description</mat-icon>
              <span class="px-1 file-name">{{file.fileName}}</span>

              <span *ngIf="file.fileName != '..'">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="File operations menu" (click)="$event.stopPropagation()">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="open(file)">
                    <mat-icon *ngIf="file.isDirectory">folder open</mat-icon>
                    <mat-icon *ngIf="!file.isDirectory">launch</mat-icon>
                    <span>Open</span>
                  </button>
                  <button mat-menu-item (click)="reveal(file)">
                    <mat-icon>search</mat-icon>
                    <span>Reveal in Files</span>
                  </button>
                  <button mat-menu-item *ngIf="!file.isDirectory" (click)="put(file)">
                    <mat-icon>upload</mat-icon>
                    <span>Upload</span>
                  </button>
                  <button mat-menu-item (click)="rm(file)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </span>
            </li>
          </ul>
        </div>
        <div class="col xs-6 px-3 remote-files">
          <h1 class="px-3">Remote Files</h1>
          <div class="px-3 crumbs">
            <span class="crumb" *ngFor="let crumb of remoteCrumbs; let last = last;" (click)="open(crumb)">
              <mat-icon class="root-crumb" aria-hidden="false" aria-label="Root" *ngIf="!crumb.fileName">home</mat-icon>
              <span class="crumb-name" *ngIf="crumb.fileName">{{crumb.fileName}}</span>
              <mat-icon aria-hidden="false" aria-label="Chevron" *ngIf="!last">chevron_right</mat-icon>
            </span>
          </div>

          <ul class="listings" dndDropzone (dndDrop)="onFileDrop($event, true)">
            <li class="listing px-3 py-2" *ngFor="let file of remoteFiles" (dblclick)="open(file)" [dndDraggable]="file">
              <mat-icon aria-hidden="false" aria-label="Folder" *ngIf="file.isDirectory">folder_open</mat-icon>
              <mat-icon aria-hidden="false" aria-label="File" *ngIf="!file.isDirectory">description</mat-icon>
              <span class="px-1 file-name">{{file.fileName}}</span>

              <span *ngIf="file.fileName != '..'">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="File operations menu" (click)="$event.stopPropagation()">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="open(file)">
                    <mat-icon *ngIf="file.isDirectory">folder open</mat-icon>
                    <mat-icon *ngIf="!file.isDirectory">launch</mat-icon>
                    <span>Open</span>
                  </button>
                  <button mat-menu-item *ngIf="!file.isDirectory" (click)="get(file)">
                    <mat-icon>download</mat-icon>
                    <span>Download</span>
                  </button>
                  <button mat-menu-item (click)="rm(file)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
